<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><h1>Book Recommender Systemh</h1></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar" style="background-color: aquamarine">
        <a class="navbar-brand">My Book Recommender</a>
        <ul class="nav navbar-nav">
            <a class="nav-item" href = "/">Home</a>
            <a class="nav-item" href = "/recommend">Recommend</a>
            <a  class="nav-item" href = "#">Contact</a>
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 style="color: rgb(31, 50, 67);">Top 50 Books</h1>
            </div>

            {% for i in range(book_name | length): %}
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-image-top" src="{{ image[i] }}" alt="Sorry, no image found">
                            <h3 class="card-text">{{ book_name[i] }}</h3>
                            <p>Authore - {{ author[i] }}</p>
                            <p>votes - {{ votes[i] }}</p>
                            <p>Rating - {{ rating[i] }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>